tmp_inpi/N8N/Fluxos/Cancela_Intimacao_IntimAI.json
{
  "name": "Cancela_Intimacao_IntimAI",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdb13ce2-bc64-4098-9f03-64f6a5ac1ce1",
              "name": "intimado.nome",
              "value": "={{ $('Dados_Intimacao').item.json.intimadoNome }} PARSE",
              "type": "string"
            },
            {
              "id": "abc12c98-4ffb-47fa-9200-0faef98f0a55",
              "name": "intimado.nomeCompleto",
              "value": "={{ $('Dados_Intimacao').item.json.intimadoNome }}",
              "type": "string"
            },
            {
              "id": "983147ba-2125-4db8-a5c3-02d463e699a9",
              "name": "intimado.telefone",
              "value": "={{ $('Dados_Intimacao').item.json.intimadoTelefone }}",
              "type": "string"
            },
            {
              "id": "2b10c961-f733-4fd6-bedf-200ee2f11fb5",
              "name": "intimado.documento",
              "value": "={{ $('Dados_Intimacao').item.json.intimadoDocumento }}",
              "type": "string"
            },
            {
              "id": "9338ea19-88d6-4371-a308-92549e6ae734",
              "name": "procedimento.tipo",
              "value": "={{ $('Dados_Intimacao').item.json.procedimentoTipo }}",
              "type": "string"
            },
            {
              "id": "6aa34c69-7e99-4366-a58f-5165abf00cea",
              "name": "procedimento.numero",
              "value": "={{ $('Dados_Intimacao').item.json.procedimentoNumero }}",
              "type": "string"
            },
            {
              "id": "08a8240f-bb81-431a-b753-7fb6a1619cea",
              "name": "intimacao.id",
              "value": "={{ $('Dados_Intimacao').item.json.intimacaoId }}",
              "type": "string"
            },
            {
              "id": "d03ade04-5987-479f-a25d-99ef82129e49",
              "name": "intimacao.data",
              "value": "={{ (() => {\n  const data = new Date($('Dados_Intimacao').item.json.criadoEm);\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0');\n  const ano = data.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n})() }}",
              "type": "string"
            },
            {
              "id": "025fed11-01ce-48f3-94e0-f1f79b38f78b",
              "name": "intimacao.agendarPara",
              "value": "={{ $('Dados_Intimacao').item.json.intimacaoAgendarPara }}",
              "type": "string"
            },
            {
              "id": "3b837a66-3dbc-4a92-8801-6037d796215b",
              "name": "oficial.Id",
              "value": "={{ $('Dados_Intimacao').item.json.oficialId }}",
              "type": "string"
            },
            {
              "id": "97f103c9-acf0-461c-bde0-cf3a5bd01285",
              "name": "oficial.nome",
              "value": "={{ $json.oficialNome }}",
              "type": "string"
            },
            {
              "id": "5a7d0b02-35ce-434c-bfa9-adc4186c2155",
              "name": "oficial.delegaciaId",
              "value": "={{ $json.oficialDelegaciaId }}",
              "type": "string"
            },
            {
              "id": "b831ce0b-cd39-4d24-9f4e-8160ec7994dc",
              "name": "oficial.delegaciaNome",
              "value": "={{ $('Dados_Intimacao').item.json.oficialDelegaciaNome }}",
              "type": "string"
            },
            {
              "id": "09ffd8b6-2de0-41b0-8aec-8e687a321ec7",
              "name": "oficial.delegadoResponsavel",
              "value": "={{ $('Dados_Intimacao').item.json.oficialDelegadoResponsavel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -160
      ],
      "id": "5bb34db8-7356-4a79-8130-c514ce39504c",
      "name": "Organiza_Dados"
    },
    {
      "parameters": {
        "jsCode": "// Node: Function\n// Objetivo: Extrair e transformar o JSON contido em 'content'\n\nreturn items.map(item => {\n  const rawContent = item.json.content;\n\n  try {\n    // Faz o parse do JSON contido na string\n    const parsed = JSON.parse(rawContent);\n\n    // Retorna como novo item separado\n    return { json: parsed };\n  } catch (error) {\n    // Retorna erro de parsing, se houver\n    return { json: { error: error.message, rawContent } };\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -160
      ],
      "id": "fd641f26-3011-4d87-9e04-a2d1205d9cde",
      "name": "Dados_Intimacao"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "intimacoes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.intimacao.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -704,
        -160
      ],
      "id": "1983cbad-2a1c-437d-a103-c835230c43df",
      "name": "Consulta_Intimacao",
      "credentials": {
        "supabaseApi": {
          "id": "iiTDGF3ajTrJc29X",
          "name": "SupabaseIntimAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "intimacoes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Organiza_Dados').item.json.intimacao.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelada"
            },
            {
              "fieldId": "cancelamentoEmAndamento",
              "fieldValue": "false"
            },
            {
              "fieldId": "motivo",
              "fieldValue": "Cancelada Pelo Oficial"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        -176
      ],
      "id": "26280353-858b-4800-b631-82fda6144ee2",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "iiTDGF3ajTrJc29X",
          "name": "SupabaseIntimAI"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_intimacoes",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_intimacoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"Olá, {{ $('Organiza_Dados').item.json.intimado.nomeCompleto }}!\\n\\nGentileza desconsiderar a mensagem recebida em {{ $('Organiza_Dados').item.json.intimacao.data }}. Caso necessário, a {{ $('Organiza_Dados').item.json.oficial.delegaciaNome }} entrará em contato novamente através deste canal oficial. Obrigado!\",\n  \"additional_kwargs\": {\n    \"contexto\": {\n      \"tipo\": \"intimacao_cancelada\",\n      \"intimacao_id\": \"{{ $('Organiza_Dados').item.json.intimacao.id }}\",\n      \"delegacia\": \"{{ $('Organiza_Dados').item.json.oficial.delegaciaNome }}\"\n    }\n  },\n  \"response_metadata\": {}\n}",
            "session_id": "=55{{ $('Organiza_Dados').item.json.intimado.telefone }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        -176
      ],
      "id": "08027bd6-f50e-439e-816e-23878f67f13a",
      "name": "Atualiza_chatMemory",
      "credentials": {
        "postgres": {
          "id": "Rg77bSj4hxXnl3gF",
          "name": "Postgres/SupabaseIntimAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "delegacias",
        "filters": {
          "conditions": [
            {
              "keyName": "delegaciaId",
              "keyValue": "={{ $('Organiza_Dados').item.json.oficial.delegaciaId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -352,
        -176
      ],
      "id": "fc591b12-58ea-422f-9c4a-df9ee8322b79",
      "name": "Consulta_Delegacia",
      "credentials": {
        "supabaseApi": {
          "id": "iiTDGF3ajTrJc29X",
          "name": "SupabaseIntimAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cf9236e-bec9-4a59-8d92-c8b4f924780e",
              "name": "evoInstancia",
              "value": "={{ $json.evoInstancia }}",
              "type": "string"
            },
            {
              "id": "d163870e-a996-4d76-acec-df59b09a7b65",
              "name": "evoAPI",
              "value": "={{ $json.evoAPI }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -176
      ],
      "id": "db099475-2ec1-4b59-bcf3-2b989e785096",
      "name": "Consulta_Instancia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.intimai.app/message/sendText/{{ $('Consulta_Instancia').item.json.evoInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Consulta_Instancia').item.json.evoAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"55{{ $('Organiza_Dados').item.json.intimado.telefone }}\",\n  \"text\": \"Olá, {{ $('Organiza_Dados').item.json.intimado.nomeCompleto }}!\\n\\nGentileza desconsiderar a intimação recebida em {{ $('Organiza_Dados').item.json.intimacao.data }}. Caso necessário, a {{ $('Organiza_Dados').item.json.oficial.delegaciaNome }} entrará em contato novamente através deste canal oficial. Obrigado!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -384
      ],
      "id": "cd9f03a9-57c8-4efb-901a-dca98ef23354",
      "name": "Envia_Cancelamento",
      "disabled": true
    },
    {
      "parameters": {
        "queue": "emCancelamento",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "parallelMessages": 1
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -160
      ],
      "id": "0fc5a36e-641f-4579-88a8-a0dae296de71",
      "name": "Puxa_Fila_Canceladas",
      "credentials": {
        "rabbitmq": {
          "id": "VmsPUm3bg6V4LqJD",
          "name": "RabbitMQ IntimAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Organiza_Phone_Number').item.json.phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQ1Fe1pVCcBQfujEBjBPYWBZAhC3b8iFFOp1IhswOYfyLUUlT246KSZA3mTtBW1DVZC2V1hKfufClZCyGZAc50TtqgENxZCNV55DtpZC9cqnR59tbl4OyeZAtXaD9oOyHGeO7bJ8I2n7vWqpStvyeQ66jylI52CZCNQDvb8O8ITedRrmI7ArkgDZBaMLXxHbRtvMt3AZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"55{{ $('Organiza_Dados').item.json.intimado.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"cancela_intimacao\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $('Dados_Intimacao').item.json.intimadoNome }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $('Organiza_Dados').item.json.intimacao.data }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $('Organiza_Dados').item.json.oficial.delegaciaNome }}\" }\n        ]\n      }\n    ]\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        -176
      ],
      "id": "c0578efc-4cde-494e-bbb4-13331d8d72ff",
      "name": "Envia_Template_APIOficial"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cf9236e-bec9-4a59-8d92-c8b4f924780e",
              "name": "phone_number_id",
              "value": "={{ $json.whatsappPhoneNumberId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -176
      ],
      "id": "6acb0349-47ea-4e24-a67f-c5f039274095",
      "name": "Organiza_Phone_Number"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51e74210-6232-44ae-8fca-32377bebd6a4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "cancelada",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        -160
      ],
      "id": "d22a7ef4-5857-4f21-a637-332e1690af62",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        0
      ],
      "id": "14996c28-2201-43d9-8465-a6973bd68ec4",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "Puxa_Fila_Canceladas": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-bUori5_LApDGCdIzehCshw",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "",
            "routingKey": "emCancelamento"
          },
          "properties": {
            "headers": {}
          },
          "content": "{\"intimadoNome\":\"Lucas Silva Defrança\",\"intimadoTelefone\":\"11940450386\",\"intimadoDocumento\":\"41365047806\",\"procedimentoTipo\":\"Estético\",\"procedimentoNumero\":\"948593923843fgb\",\"intimacaoId\":\"396\",\"intimacaoAgendarPara\":\"18/03/2026 - Ambos\",\"oficialId\":\"a831a369-4ba1-4d78-ab4e-2c093a058e69\",\"oficialNome\":\"Giovanna Botelho\",\"oficialDelegadoResponsavel\":\"Dr. Lamoia\",\"oficialDelegaciaId\":\"3\",\"oficialDelegaciaNome\":\"Delegacia de Leopoldina\",\"oficialDelegaciaEndereco\":\"Rua José de Souza Lima, 115 - Bela Vista\",\"oficialDelegaciaTelefone\":\"(32)3441-2489\",\"criadoEm\":\"2026-03-17T19:07:45.66182\"}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Organiza_Dados": {
      "main": [
        [
          {
            "node": "Consulta_Intimacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados_Intimacao": {
      "main": [
        [
          {
            "node": "Organiza_Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta_Intimacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza_chatMemory": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta_Delegacia": {
      "main": [
        [
          {
            "node": "Organiza_Phone_Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta_Instancia": {
      "main": [
        [
          {
            "node": "Envia_Template_APIOficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia_Cancelamento": {
      "main": [
        []
      ]
    },
    "Puxa_Fila_Canceladas": {
      "main": [
        [
          {
            "node": "Dados_Intimacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia_Template_APIOficial": {
      "main": [
        [
          {
            "node": "Atualiza_chatMemory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza_Phone_Number": {
      "main": [
        [
          {
            "node": "Consulta_Instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Consulta_Delegacia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "errorWorkflow": "PGmfvV9BPn5dgA3f",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "42c6bf22-d288-4b35-99b8-01b0eefc4388",
  "meta": {
    "instanceId": "46afdc4408b12967d8a8ebd84fe9532888ffc6505ba874d4ba7406c1fc078ed9"
  },
  "id": "cqz6xWO49u24pa4Q",
  "tags": []
}